.side2side {
  display: flex;
  margin: 12px;
}
.leftSide {
  width: 50%;
  margin-right: 20px;
}

.rightSide {
  width: 50%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}